.content {
  margin: 0 50px
}

.result {
  margin-top: 10px
}
.result-text {
  font-size: 20px
}
.table {
  margin-top: 10px
}

.table-btn {
  margin: 0 5px
}

.small-result-btns {
  text-align: right;
  margin-bottom: 20px;
}

.header {
  padding-top: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  display: inline;
  color: white;
  margin-right: 20px;
}

.header-logo h3 {
  display: inline;
  color: white;
}

.header-link {
  font-size: 15px;
  color: #FFF;
}

.footer {
  padding-top: 50px;
  text-align: center;
}

.footer-link {
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.transform {
  display: inline-block;
}

.coords-select {
  width: 250px;
  margin: 0 5px;
}
